@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZAGINIONEOSOBY.NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dodawaj</h2>
    </div>
    <div class="col-md-4">
        <h2>Przegladaj</h2>
    </div>
    <div class="col-md-4">
        <h2>Dziel sie informacjami</h2>
    </div>
</div>